.login-form {
    background: #FFF3E0;
    width:400px;
    align-content: center;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 50px;
}

.login-form-input {
    align-content: center;
    height: 25px;
    margin: 5px;
    margin-top: 0px;
}

.login-form-button {
    background: #FFA726;
}

h5 {
    text-align: center;
    font-family: Roboto;
    color: #FF9800;
    padding: 5px;
    margin:5px;    
    margin-top:10px;
    font-size: 20px;
}